.input-details{
  color: rgb(245, 243, 238);
  text-align: center;
  margin: auto;
  padding: 0.15rem;
  box-sizing: content-box;
  border-radius: 10px;
  border-top: #715a6a;
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
  font: inherit;
  width: 100%;

}

.button {
    width: 100%;
    font: inherit;
    padding: 0.5rem 1.5rem;
    border: 1px solid #3f1e12;
    color: white;
    background: #3f1e12;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
    cursor: pointer;
    text-align: center;
  }
  
  .button:focus {
    outline: none;
  }
  
  .button:hover,
  .button:active {
    background: #ac0e77;
    border-color: #ac0e77;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
  }
  
  @media (min-width: 768px) {
    .button {
      width: auto;
    }
  }
  

